<head>
  <style>
      .backgrounds{background-color:#fff; color:#0B80E6}
  </style>
</head>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 oe_mt32 mb32">
            <h3 class="oe_slogan">Display vendor/customer with address</h3>
            <h4 class="oe_slogan">This module shows  partners/vendor/customer name along with their address on purchase,vendor,pipeline and on transfer form.This module Works on both community and enterprise version 11</h4>
        </div>
    </div>
</section>

<section class="oe_container">
        <div>
            <div class="oe_demo oe_picture oe_screenshot">
                
                    <img src="b41.png" width="340" height="400">
            </div>
            <div class="oe_demo oe_picture oe_screenshot">
                
                    <img src="af1.png" width="340" height="400">
            </div>
            <div class="oe_demo oe_picture oe_screenshot">
                
                    <img src="b43.png" width="340" height="400">
            </div>
<div class="oe_demo oe_picture oe_screenshot">
                
                    <img src="af3.png" width="340" height="400">
            </div>
            <div class="oe_demo oe_picture oe_screenshot">
                
                    <img src="b44.png" width="340" height="400">
            </div>
 						<div class="oe_demo oe_picture oe_screenshot">
                
                    <img src="af2.png" width="340" height="400">
            </div>

		<div class="oe_demo oe_picture oe_screenshot">
                
                    <img src="al.png" width="340" height="400">
            </div>
               
        </div>
       

</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 oe_mt32 mb32">
            <h3 class="oe_slogan">For any queries please contact us on virzoteck@gmail.com</h3>
        </div>
    </div>
</section>
